a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.4s;
}

a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
