.home-page section {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  padding: 20px;
}

.home-page p {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

