button {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color #81e18a);
  color: var(--primary-color #81e18a);
}
