.planet-image {
  width: 200px;
  transition: transform 0.3s ease;
}

.planet-image:hover {
  transform: scale(1.05);
}

.planet-card {
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  border-radius: 10px white;
  border: 3px solid white;
  gap: 20px;
}

.planet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacecrafts-on-planet {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.spacecraft-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 0px;
  transition: all 0.3s ease;
}

.spacecraft-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-color);
}

.spacecraft-item.selected {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
  box-shadow: 0 0 15px var(--primary-color);
}

.spacecraft-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.spacecraft-placeholder {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.spacecraft-item .spacecraft-name {
  margin: 0;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 12px !important;
}
